.root {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
  height: 100%;
}
.title {
  position: absolute;
  top: 2rem;
  font-size: 3rem;
  left: 4rem;
}
.home-container {
  width: 100%;
  position: relative;
  top: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0px;
}
.text {
  font-size: 2.5rem;
  text-align: start;
}
